* {
  margin: 0;
  padding: 0;
}
.upper {
  display: flex;
}
body {
  background-color: #f4f1e4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  flex-direction: column;
}
h1 {
  text-align: center;
  margin-top: 10px;
}
.box {
  height: 100px;
  width: 100px;
  background-color: rgb(230, 237, 175);
  border: 2px solid black;
  font-size: 40px;
  text-align: center;
  border-radius: 10px;
  margin: 1px;
  display: grid;
  place-items: center;
}
.reset-btn {
  font-size: 20px;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: blue;
  color: white;
  display: block;
  margin: 0 auto;
}
.reset-btn:hover,
.box:hover {
  cursor: pointer;
}
